body {
  margin-top: 50px;
  margin-left: 100px;
}

.heading {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 20px;
}

.parent-div {
  width: 600px;
  height: 400px;
  background-color: darkgray;
  position: relative;
}

.child-div {
  width: 200px;
  height: 150px;
  background-color: darkcyan;
  position: absolute;
}


.check-button {
  margin-top: 50px;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
}

.check-button:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
